In [ ]:
#5. O time de marketing desta rede quer fazer uma campanha oferecendo um cupom de 
#20% nas compras de loja física para quem visitou o site e abandonou um carrinho 
#com produtos. Estime o resultado dessa campanha.

In [ ]:
#Compração dos clientes que olharam a página e não aparece a compra na loja física

In [1]:
import pandas as pd
from pandas import merge

In [2]:
OnlineOrders = pd.read_json('online_orders.json', lines= True)
OfflineSales = pd.read_json('offline_sales.json', lines= True)
online_pageviews = pd.read_json('online_pageviews.json', lines= True)

In [3]:
OnlineOrders

,date,visitor_id,deviceType,order_id,on_product_id,quantity,price,customer_id
0,2018-08-01,3.663324e+24,desktop,363063373630306,323762666337343,1,839,NaN
1,2018-08-01,3.430317e+24,mobile,356664366366353,313562333039323,1,629,6.339334e+19
2,2018-08-01,3.261343e+24,desktop,313432656633333,383863346531623,1,219,3.765363e+19
3,2018-08-01,6.437387e+24,mobile,633236633438383,666136386663626,1,239,6.533383e+19
4,2018-08-01,6.264657e+24,desktop,623030326130383,626533383465323,1,69,NaN
...,...,...,...,...,...,...,...,...
12232,2018-08-31,3.133384e+24,desktop,636136633433353,323765383935613,1,349,3.639383e+19
12233,2018-08-31,6.532624e+24,mobile,313334363633303,333437623263326,1,199,3.461394e+19
12234,2018-08-31,3.535356e+24,desktop,626166643633306,613264333961396,1,349,NaN
12235,2018-08-31,3.639664e+24,desktop,313030636530313,393665363031353,1,149,NaN
12236,2018-08-31,6.639613e+24,mobile,363033316437326,343466353731646,1,479,6.436654e+19

In [17]:
OnlineOrders.dropna(inplace=True)
online_pageviews.dropna(inplace=True)

In [25]:
del OnlineOrders['date']

In [23]:
del online_pageviews['deviceType']
del online_pageviews['pageType']
del online_pageviews['category_id']
del online_pageviews['date']

In [44]:
loja_online = pd.merge(online_pageviews,OnlineOrders,on='visitor_id', how = 'left')
loja_online

,visitor_id,on_product_id_x,customer_id_x,deviceType,order_id,on_product_id_y,quantity,price,customer_id_y
0,3.832637e+24,3.232393e+14,3.334316e+19,NaN,NaN,NaN,NaN,NaN,NaN
1,6.339633e+24,3.330304e+14,3.235393e+19,desktop,3.132346e+14,3.735334e+14,1.0,519.0,3.235393e+19
2,3.662633e+24,6.261364e+14,6.632364e+19,NaN,NaN,NaN,NaN,NaN,NaN
3,3.264626e+24,6.435303e+14,3.731354e+19,NaN,NaN,NaN,NaN,NaN,NaN
4,3.335317e+24,3.638374e+14,3.561334e+19,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
71501,3.136304e+24,3.065663e+14,3.166313e+19,mobile,3.665354e+14,3.432373e+14,1.0,179.0,3.166313e+19
71502,3.136304e+24,3.065663e+14,3.166313e+19,mobile,3.661376e+14,3.065663e+14,1.0,179.0,3.166313e+19
71503,3.331346e+24,3.865626e+14,3.034304e+19,desktop,3.935653e+14,3.865626e+14,1.0,209.0,3.034304e+19
71504,3.033357e+24,3.066363e+14,6.434314e+19,NaN,NaN,NaN,NaN,NaN,NaN
71505,6.464367e+24,3.430333e+14,6.533327e+19,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
loja_online['visitor_id'].nunique()

2274

In [46]:
loja_online['customer_id_y'].nunique()

1028

In [47]:
2274-1028

1246