In [ ]:
# 4. É comum escolher online e terminar a compra na loja física?

In [ ]:
#Comparação dos clientes que tinham olhado a pagina com os cientes que compraram na loja. Pelo customer_id

In [1]:
import pandas as pd
from pandas import merge

In [2]:
OfflineSales = pd.read_json('offline_sales.json', lines= True)
online_pageviews = pd.read_json('online_pageviews.json', lines= True)

In [19]:
online_pageviews

,date,visitor_id,deviceType,pageType,category_id,on_product_id,customer_id
0,2018-08-01,6.162326e+24,desktop,home,NaN,NaN,NaN
1,2018-08-01,3.538363e+24,desktop,landing_page,NaN,NaN,NaN
2,2018-08-01,3.130377e+24,mobile,subcategory,6.161393e+09,NaN,NaN
3,2018-08-01,3.130377e+24,mobile,subcategory,6.664354e+09,NaN,NaN
4,2018-08-01,3.235374e+24,desktop,landing_page,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3452535,2018-08-31,3.764303e+24,mobile,product,3.533344e+09,3.962384e+14,NaN
3452536,2018-08-31,3.830366e+24,desktop,subcategory,3.733386e+09,NaN,NaN
3452537,2018-08-31,6.261346e+24,mobile,subcategory,3.733386e+09,NaN,NaN
3452538,2018-08-31,6.137614e+24,mobile,subcategory,3.136306e+09,NaN,NaN
3452539,2018-08-31,3.839633e+24,desktop,product,3.163313e+09,3.837356e+14,NaN

In [21]:
online_pageviews.dropna(inplace=True)

In [22]:
loja_online = pd.merge(OfflineSales,online_pageviews,on='customer_id', how = 'inner')
loja_online

,date_x,state,store_id,sale_id,off_product_id,quantity,price,customer_id,date_y,visitor_id,deviceType,pageType,category_id,on_product_id
0,2018-08-01,RJ,3166353,626234316564303,396364633232663,1,299.0,3.632356e+19,2018-08-15,6.462347e+24,desktop,product,3.363397e+09,3.530343e+14
1,2018-08-01,RJ,3166353,626234316564303,396364633232663,1,299.0,3.632356e+19,2018-08-15,6.462347e+24,desktop,product,3.363397e+09,3.334333e+14
2,2018-08-01,RJ,3166353,626234316564303,396364633232663,1,299.0,3.632356e+19,2018-08-15,6.462347e+24,desktop,product,3.363397e+09,3.231386e+14
3,2018-08-15,RJ,3166353,353331313135346,336630353735346,1,99.0,3.632356e+19,2018-08-15,6.462347e+24,desktop,product,3.363397e+09,3.530343e+14
4,2018-08-15,RJ,3166353,353331313135346,336630353735346,1,99.0,3.632356e+19,2018-08-15,6.462347e+24,desktop,product,3.363397e+09,3.334333e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,2018-08-31,RJ,6236393,636436323661663,383866306563656,1,184.0,3.638353e+19,2018-08-31,6.131634e+24,desktop,product,3.963307e+09,6.365374e+14
9795,2018-08-31,RJ,6462376,393131343337353,343066323234336,1,289.0,6.564374e+19,2018-08-16,3.435303e+24,mobile,product,3.663346e+09,6.337626e+14
9796,2018-08-31,RJ,6462376,393131343337353,343066323234336,1,289.0,6.564374e+19,2018-08-16,3.435303e+24,mobile,product,3.663346e+09,6.436356e+14
9797,2018-08-31,RJ,6462376,393131343337353,343066323234336,1,289.0,6.564374e+19,2018-08-16,3.435303e+24,mobile,product,3.766383e+09,6.636373e+14
9798,2018-08-31,RJ,6462376,393131343337353,343066323234336,1,289.0,6.564374e+19,2018-08-15,3.435303e+24,mobile,product,6.465643e+09,3.233653e+14

In [23]:
clientes = loja_online.groupby('state')['customer_id'].nunique()
clientes

state
AM      2
GO      4
MS      2
PE     12
PR      6
RJ    164
RN      2
RS     10
SP     23
Name: customer_id, dtype: int64

In [24]:
loja_online['customer_id'].nunique()

217

In [26]:
OfflineSales['customer_id'].nunique()

9901

In [27]:
online_pageviews['customer_id'].nunique()

1901

In [2]:
#Porcentagem de clientes que escolhem online e terminam a comprando na loja física
(217/9901)*100

2.1916978083021914